.image-item {
  padding: 2em 2px;
  filter: brightness(.9);
}

.react-multi-carousel-item--active {
  padding: 1em 0;
  filter: brightness(1);
  transform: translateZ(25px);
}

.fade {
  animation: fadeDown 1s forwards cubic-bezier(.67,.17,.32,.95);
  opacity: 1;
}

@keyframes fadeDown {
  100% {
    opacity: 0;
    transform: translateY(50vh);
  }
}
